form.editable {
  -webkit-transform: translateY(-8%);
  -ms-transform: translateY(-8%);
  transform: translateY(-8%);
}

.editable {
  float: left;
  
  &:hover {
    border-bottom: 1px dotted;
  }
}
