/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
new-item-enter {
  transition: all 0.3s ease 0s;
}

button.btn {
}

.btn-add {
  @extend .btn-success;
  margin-bottom: 1em;
}

.btn-remove {
  @extend .btn-danger;
  margin-left: 2em;
}

.btn-tiny {
  @extend .btn-xs;
  font-size: 8px;
}

.btn-text {
  font-weight: bolder;
  margin-left: .7em;
}

.btn-tiny-panel {
  display: inline-block;
  width: 1.3em;
  margin-left: .2em;

  position: relative;
  top: .4em;

  button.btn {
    display: block;
    line-height: inherit;
    margin: 0;
  }

  button.btn:not(:first-of-type) {
    margin: .2em 0 0;
  }
}
